@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Book.woff2") format("woff2"), url("../fonts/CircularStd-Book.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-BookItalic.woff2") format("woff2"), url("../fonts/CircularStd-BookItalic.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Medium.woff2") format("woff2"), url("../fonts/CircularStd-Medium.woff") format("woff");
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Bold.woff2") format("woff2"), url("../fonts/CircularStd-Bold.woff") format("woff");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Black.woff2") format("woff2"), url("../fonts/CircularStd-Black.woff") format("woff");
	font-display: swap;
	font-weight: 900;
	font-style: normal;
}

body {
	font-family: 'Oswald', sans-serif;
	font-family: 'Roboto Mono', monospace;
	color: rgb(72, 106, 253);
	text-align: left;
	line-height: 35px;
	background-color: #7efff5;
	box-sizing: border-box;
	padding: 50px;
}

div p {
	text-align: center;
	text-decoration: underline;
	color: green;
	background-color: #3ae374;
}

h2,h3,h4,h5,h6 {
	text-align: center;
	text-transform: uppercase;
	text-indent: 30px;
	background-color: #4b4b4b;
	max-width: 300px;
	margin: 15px;
	padding: 1%;
}

h1 {
	text-align: center;
	letter-spacing: 10px;
}

h2 {
	text-shadow: 10px 10px 3px rgb(252, 9, 9);;
}

h3 {
	color: black;
	text-shadow: -10px -10px 2px rgb(199, 252, 9);
}

h4 {
	text-shadow: 10px 10px 2px rgb(252, 9, 9);
}

h5 {
	text-shadow: -10px -10px 2px rgb(252, 9, 9);
}

h6 {
	text-shadow: 10px 10px 2px rgb(252, 9, 9);
}

.header {
	font-family: "CircularStd", serif;
	font-weight: 900;
	font-size: 35px;
}

.green {
	font-family: "CircularStd", serif;
	font-weight: 700;
	font-size: 30px;
}

.bursting {
	font-family: "CircularStd", serif;
	font-weight: 600;
	font-size: 25px;
}

.budding {
	font-family: "CircularStd", serif;
	font-style: italic;
	font-weight: 600;
	font-size: 25px;
}

.all {
	font-family: "CircularStd",	serif;
	font-weight: 500;
	font-size: 20px;
}

.frog {
	font-family: Oswald;
	font-weight: 700;
	font-size: 20px;
}

.summer {
	font-family: Oswald;
	font-weight: 600;
	font-size: 20px;
}

.tongue {
	font-family: Oswald;
	font-weight: 400;
	font-size: 20px;
}

.cat {
	font-family: Oswald;
	font-weight: 300;
	font-size: 20px;
}

.view {
	font-family: "Roboto Mono";
	font-style: italic;
	font-weight: 700;
	font-size: 20px;
}

.beauties {
	font-family: "Roboto Mono";
	font-weight: 700;
	font-size: 20px;
}

.die {
	font-family: "Roboto Mono";
	font-style: italic;
	font-weight: 600;
	font-size: 20px;
}

.putrid {
	font-family: "Roboto Mono";
	font-weight: 600;
	font-size: 20px;
}

.smile {
	font-family: "Roboto Mono";
	font-style: italic;
	font-weight: 400;
	font-size: 20px;
}

.crack {
	font-family: "Roboto Mono";
	font-weight: 400;
	font-size: 20px;
}

.loss {
	font-family: "Roboto Mono";
	font-style: italic;
	font-weight: 300;
	font-size: 20px;
}

.woods {
	font-family: "Roboto Mono";
	font-weight: 300;
	font-size: 20px;
}

.blank {
	font-family: "Roboto Mono";
	font-style: italic;
	font-weight: 100;
	font-size: 20px;
}

.footer {
	font-family: "Roboto Mono";
	font-style: cursive;
	font-weight: 100;
	font-size: 15px;
	text-decoration: underline;
	text-align: right;
}